.radix-themes {
  --default-font-family: var(--font-caveat);
  --accent-1: #efefef;
  --accent-2: #d6d6d6;
  --accent-3: #bcbcbc;
  --accent-4: #a3a3a3;
  --accent-5: #898989;
  --accent-6: #707070;
  --accent-7: #565656;
  --accent-8: #3d3d3d;
  --accent-9: #252525;
  --accent-10: #161616;
  --accent-11: #0a0a0a;
  --accent-a1: var(--black-a1);
  --accent-a2: var(--black-a2);
  --accent-a3: var(--black-a3);
  --accent-a4: var(--black-a4);
  --accent-a5: var(--black-a5);
  --accent-a6: var(--black-a6);
  --accent-a7: var(--black-a7);
  --accent-a8: var(--black-a8);
  --accent-a9: var(--black-a9);
  --accent-a10: var(--black-a10);
  --accent-a11: var(--black-a11);
  --accent-a12: var(--black-a1);
}
